---
panels:
  - name: GitHub
    icon: fab fa-github
    bg: 202020
    link: 'https://github.com/Ktt-Development'

  - name: Portfolio
    icon: fas fa-folder
    bg: eba601
    link: 'https://katsute.kttdevelopment.com'

  - name: Documentation
    icon: fas fa-file-code
    bg: 6dc7a2
    link: https://docs.kttdevelopment.com
    
  - name: Wiki
    icon: fas fa-book
    bg: 3278be
    link: https://wiki.kttdevelopment.com
---
<div class="border shadow rounded-1x col-12 d-flex align-items-center" style="height: 250px;">
    <div class="user-select-none w-100">
        <h1 class="text-center py-2">Ktt&nbsp;Development</h1>
        <h5 class="text-center">Applications & Libraries designed for deployment.<br>Supported by <a href="https://github.com/Katsute">@Katsute</a></h5>
    </div>
</div>

<!-- panels -->
<div 
    class="row mx-1"
    style="margin-top: -1.5rem;">
    {% for panel in page.panels %}
        <div class="col-12 col-md-6 col-lg-3 p-0">
            <div 
                class="border bg-white shadow-sm p-2 m-1 rounded-1x row d-flex align-items-center position-relative hover-lift">
                <div 
                    class="text-white rounded-lg
                        d-flex align-items-center justify-content-center" 
                    style="background-color: #{{ panel.bg }} ;width: 30px; height: 30px;">
                    <i class="{{ panel.icon }} fa-fw"></i>
                </div>
                <a class="stretched-link" href="{{ panel.link }}">
                    <h5 class="ml-2 my-0">{{ panel.name }}</h5>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% include index/repo-section.liquid 
    name="Applications"
    id="applications"
    type="app" 
%}
{% include index/repo-section.liquid 
    name="Libraries"
    id="libraries"
    type="lib" 
%}
