<div class="p-0 col-12 col-md-6 col-lg-4">
    <div class="border bg-white hover-lift hover-shadow p-3 mx-2 rounded-1x position-relative
    row d-flex align-items-center">
        <a href="{{ include.link }}" class="stretched-link">
            <h3 class="text-body">{{ include.name }}</h3>
        </a>
        <p class="m-0">{{ include.content }}</p>
    </div>
</div>