---
---

$color-white: #F3F2F1;
$color-dark: #202020;

@font-face{
    font-family: 'Lexend Deca';
    src: url("/dependencies/google/webfonts/LexendDeca.ttf")
}

@font-face{
    font-family: 'Fira Code';
    src: url("/dependencies/google/webfonts/FiraCode.ttf")
}

// global styling

* {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    outline: none;
}

code, pre{
    & & > *{
        font-family: 'Fira Code', 'Courier New', Courier, monospace;
    }
}

.bg-dark{
    background-color: $color-dark !important;
}

body {
    background-color: $color-white;
}

.footer{
    background-color: $color-dark;
    color: white;
}

/* bootstrap */

.user-select-none{
    user-select: none;
}

/* markdown */
.markdown img {
    max-width: 100%;
}

.nav-tabs > li.nav-item > a.nav-link {
    padding-top     : .25rem;
    padding-bottom  : .25rem;
    padding-left    : .5rem;
    padding-right   : .5rem;
}

/* components */

.icon{
    width   : 40px;
    height  : 40px;

    margin-right: .5rem;
    
    border-radius   : .4rem;
    border          : 1px solid #dee2e6;

    display         : flex;
    justify-content : center;
    align-items     : center;

    color   : white;
    background-color: $color-dark;

    text-transform  : uppercase;
    text-align      : center;
    user-select     : none;

    * {
        margin  : 0px;
    }

    &-sm{
        width   : 30px;
        height  : 30px;
    }

}
