---
---

$color-dark: #202020;
$color-white: #F3F2F1;

@font-face{
    font-family: 'Lexend Deca';
    src: url("/dependencies/google/webfonts/LexendDeca.ttf")
}

@font-face{
    font-family: 'Fira Code';
    src: url("/dependencies/google/webfonts/FiraCode.ttf")
}

* {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    outline: none !important;
}

code, pre {
    & & > * {
        font-family: 'Fira Code', 'Courier New', Courier, monospace;
    }
}

html, body{
    background-color: $color-white;
}

// navigation
body nav {
    background-color: $color-dark;
    i {
        color: white;
    }

    a.dropdown-item:hover{
        color: unset;
        background-color: unset;
    }
}

.rounded-{
    &1x{
        border-radius: .75rem;
    }
    &2x{
        border-radius: 1rem;
    }
    &3x{
        border-radius: 1.25rem;
    }
}

.m{
    $margin-1x: 4rem;
    &b-{
       &1x{
           margin-bottom: $margin-1x;
       } 
    }
}