<div class="p-0">
    <div class="border bg-white shadow-sm hover-lift hover-shadow p-1 mx-2 rounded-1x position-relative
    row d-flex align-items-center">
        <div 
            class="text-white rounded-lg
                d-inline-block
                d-flex align-items-center justify-content-center"
            style="background-color: #{{ include.bg }}; width: 25px; height: 25px;">
            <i class="{{ include.icon }} fa-fw"></i>
        </div>
        <a class="stretched-link" href="{{ include.link }}">
            <p class="mx-2 mb-0 d-inline-block">{{ include.name }}</p>
        </a>
    </div>
</div>