<div class="row mb-2 d-flex justify-content-center">
    {% for link in include.links %}
        {% include layouts/repository/repo-link.liquid 
            name=link.name
            bg=link.bg
            icon=link.icon
            link=link.link         
        %}
    {% endfor %}
</div>