---
layout: default
---
{% if page.title %}
    {% assign name= page.title %}
{% else %}
    {% assign len = page.name | last_index_of: '.' | minus: 1 %}
    {% assign name = page.name | replace: '-', ' ' | capitalize_all | slice: 0, len %}
{% endif %}

<div class="my-4">
    <p class="display-4 text-center mb-0">{{ name }}</p>
    <p class="text-center"><i class="far fa-clock"></i> Last updated {{ site.time | date: "%B %d %Y, %r (EST)" }}</p>
</div>

<div class="border rounded-2x shadow bg-white p-4">
    {{ content }}
</div>