---
layout: default
---
{% assign data = site.data.repository[page.repo] %}
{% assign r = page.repo | append: "-releases" %}
{% assign releases = site.data.repository[r] %}

<!-- header -->
<div class="row">
    <div class="col-12 col-sm-6 d-flex align-items-center">
        <div class="icon">
            <h3 class="text-uppercase text-center user-select-none m-0">{{ data.name | slice:0 }}</h3>
        </div>
        <h4 class="m-0">{{ data.name }}</h4>
    </div>
    <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-end mt-1">
            <a href="release?v=latest" class="btn btn-sm btn-primary mr-1 text-truncate">
                Download Latest File
            </a>
            <a href="{{ data.html_url }}" class="btn btn-sm btn-primary text-truncate">
                View on GitHub
            </a>
        </div>
    </div>
</div>
<hr>
<!-- nav -->
<div class="col-12">
    <div class="row">
        <ul class="nav nav-tabs col" id="repository-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab">Overview</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="releases-tab" data-toggle="tab" href="#releases" role="tab">Releases</a>
            </li>
            {% if data.has_issues %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{{ data.html_url }}/issues" role="tab">Issues <i class="fas fa-external-link-alt fa-sm"></i></a>
                </li>
            {% endif %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{{ data.html_url }}" role="tab">Source <i class="fas fa-external-link-alt fa-sm"></i></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="https://wiki.kttdevelopment.com/{{ data.name }}" role="tab">Wiki</i></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="https://docs.kttdevelopment.com/{{ data.name }}" role="tab">Documentation</a>
            </li>
        </ul>
    </div>
    <div class="row border border-rounded border-top-0 p-3 bg-white">
        <div class="tab-content w-100">
            <div class="tab-pane fade show active" id="overview" role="tabpanel">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-9 markdown">
                        {% capture md %}{% include repository/{{ data.name }}.md %}{% endcapture %}
                        {{ md | markdownify }}
                    </div>
                    <div class="col order-first order-md-last border-left">
                        <div class="mb-3">
                            <h6>About This Repository</h6>
                            <div class="row mx-0">
                                <small class="mr-auto">ID</small>
                                <small class="ml-auto">{{ data.id }}</small>
                            </div>
                            <div class="row mx-0">
                                <small class="mr-auto">Created</small>
                                <small class="ml-auto">{{ data.created_at | date: "%b %d, %Y" }}</small>
                            </div>
                            <div class="row mx-0">
                                <small class="mr-auto">Last Updated</small>
                                <small class="ml-auto">{{ data.updated_at | date: "%b %d, %Y" }}</small>
                            </div>
                            <div class="row mx-0">
                                <small class="mr-auto">Stars</small>
                                <small class="ml-auto">{{ data.stargazers_count }}</small>
                            </div>
                            <div class="row mx-0">
                                <small class="mr-auto">License</small>
                                <small class="ml-auto"><a href="{{ data.html_url }}/blob/master/LICENSE">{{ data.license.spdx_id }}</a></small>
                            </div>
                            <div class="row mx-0">
                                <a class="small" href="{{ data.html_url }}"><i class="fab fa-github"></i> View on GitHub</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6>Recent Releases</h6>
                            {% for i in (0..2) %}
                                {% if releases[i] %}
                                    <div class="row mx-0 d-flex align-items-center mb-1">
                                        <div class="icon icon-sm">
                                            {% if releases[i].prerelease %}p{% else %}r{% endif %}
                                        </div>
                                        <a href="release?v=latest">{{ releases[i].tag_name }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="releases" role="tabpanel">
                <div class="col-12">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Version</th>
                                <th scope="col">Name</th>
                                <th scope="col">Release Date</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for release in releases %}
                                <tr>
                                    <th scope="row">{{ release.tag_name }}</th>
                                    <td>{{ release.name }}</td>
                                    <td>{{ release.published_at | date: "%b %d, %Y" }}</td>
                                    <td><a href="release?v={{ release.tag_name }}">Download</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->