<div>
    <h1 class="user-select-none">Ktt&nbsp;Development</h1>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/repository">Repositories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>